body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}
  
h1 {
  font-family: 'Yanone Kaffeesatz', arial, serif;
  font-size: 60px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #00B4FF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

div.field, div.actions {
  margin-bottom: 10px;
}

div.toolbar {
  width: 600px;
  background-color: #333;
  color: #999;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  line-height: 0;
}

div.toolbar a {
  color: #999;
}

div.toolbar a:hover {
  text-decoration: underline;
}

div.toolbar .title {
  font-family: 'Yanone Kaffeesatz', arial, serif;
  font-size: 28px;
  margin: 0;
  float: left;
  width: 400px;
}

div.toolbar .right {
  float: right;
  text-align: right;
}


div.main {
  width: 600px;
  background-color: #eee;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

.flash {
  /* for a floating flash message (for jQuery) */
  position: absolute;
  top: 0;
  left: 0;
  width: 99%;
  text-align: center;

  padding: 4px;
  background-color: #eee;
  border-bottom: 1px solid #666;

  z-index: 10;
}

table#container tr:nth-child(odd) {
  background-color: #fff;
}

table#container tr:nth-child(even) {
  background-color: #f3f3f3;
}
