<p>Hi! <i>Code With Us</i> makes coding a collaborative, living session, where you can non-intrusively find out what your teammates are working on right now.</p>
<p>Getting started is easy. Just <%= link_to "create a user", new_user_path %>!</p>
