<p>Coding is collaborative, but we act like it's not. Do you really know what
  your teammates are working on?</p>

<p>With CodeWithUs, you can non-intrusively find out what your team members are working on <i>right now</i>. Get real-time notifications of their code commits, pushes, pulls, and more.</p>

<p>Never code alone again.</p>

<p><%= link_to "Create a user", new_user_path %></p>

<h2>Some of our users</h2>
<% @users.each do |user| %>
  <%= link_to(image_tag((user.face_url.blank? ? '/images/faces/default.jpg' : user.face_url), :width => 64, :height => 64, :class => 'smallface'), user, :title => h(user.name)) %>
<% end %>
